{mode, max}.

{duration, 10}.

{concurrent, 20}.

{driver, basho_bench_driver_mysql}.

{key_generator, {uniform_int, 10000}}.

{value_generator, {fixed_bin, 10000}}.

{mysql_ip, "127.0.0.1"}.

{mysql_port, 3306}.

{mysql_user, "test"}.
{mysql_pass, "test"}.
{mysql_database, "test"}.
{mysql_table, "test"}.

{operations, [{get, 1}, {update, 1}]}.
